html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size:2vh;
    font-family: 'BPGArialRegular';
    font-weight: normal;
    font-style: normal; 
  }

.logo {
    height: clamp(40px, 5vh, 100px);
    aspect-ratio: 16/9;
}

.active {
    background-color: rgba(93, 133, 36, 0.747);
    border-radius: 8px;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(56,99,80,1);
    -moz-box-shadow: 2px 2px 0px 0px rgba(56,99,80,1);
    box-shadow: 2px 2px 0px 0px rgba(56,99,80,1);
}

.child {
    position: absolute;
}

.background-img {
    height: clamp(300px,50vh,700px);
    width: 100vw;
}

.cover-img {
    left:0px;
    height:clamp(300px,50vh,700px);
    width:100vw;
}

.blurbackground {
    backdrop-filter: blur(9px);
}

.titel {
    padding-left:5vw !important;
    padding-right:5vw !important;
    padding-top:clamp(70px,15vh,900px) !important;
}